<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Adivina el número secreto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ADIVINA EL NÚMERO</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngIf="mayorMenor==''">
    <ion-card-header>
    ¡¡¡Enhorabuena!!!
  </ion-card-header>
  <ion-card-content>
      Has acertado, el número secreto es el {{ num }}
  </ion-card-content>
  </ion-card>

  <ion-content>
    <div class="ion-padding">
      <ion-input type="number" min="1" max="100" [(ngModel)]="num" placeholder="Introduce un número del 1 al 100"></ion-input>

      <p>El número secreto es {{ mayorMenor }} {{ num }}</p>

      <ion-button *ngIf="mayorMenor!=''" expand="block" (click)="compruebaNumero()">Adivina</ion-button>

      <ion-button *ngIf="mayorMenor==''" expand="block" (click)="reinicia()">Volver a Jugar</ion-button>     
    </div>
  </ion-content>

</ion-content>
